<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <form method="POST" name="login" action="/login">
        <input type="text" name="email" id="email" value="user" />
        <input type="password" name="password" id="password" value="user" />
        <button id="login_submit" type="submit">Login</button>
    </form>
</div>
